<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.mapper.CommdityMapper">
    <resultMap id="map1" type="com.we.pojo.Commdity">
        <id property="c_id" column="c_id"></id>
        <association property="image" column="c_id" javaType="com.we.pojo.Image" select="com.we.mapper.ImageMaper.selectImg"></association>
        <association property="sales" column="c_id" javaType="com.we.pojo.Sales" select="com.we.mapper.SalesMapper.selectSale"></association>
        <collection property="shoucangs" column="c_id" select="com.we.mapper.ShoucangMapper.selectShoucang"></collection>
        <collection property="comments" column="c_id" select="com.we.mapper.CommentsMapper.selectComments"></collection>
    </resultMap>
    <select id="selectAll" resultMap="map1">
        select * from commdity
    </select>

    <select id="selectBytype" resultMap="map1">
        select * from commdity
        <where>
            seres = #{param1}
        </where>
    </select>

    <select id="select" resultMap="map1">
        select * from commdity
        <where>
            <if test="param2 !=-1">
                and price &gt; #{param2}
            </if>
            <if test="param3 !=-1">
                and price &lt;= #{param3}
            </if>
            <if test="param4 !=-1">
                and minute &gt; #{param4}
            </if>
            <if test="param5 !=-1">
                and minute &lt;= #{param5}
            </if>
            <if test="param1 !='' and param1 !=null">
                and cname like '%'||#{param1}||'%'
            </if>
            <if test="param6 !='' and param6 !=null">
                and texture = #{param6}
            </if>
        </where>
    </select>

    <select id="liulans" resultMap="map1">
        select * from commdity
        <where>
            c_id = #{param1}
        </where>
    </select>
</mapper>
